#registration-form {
    width: 1170px;
    margin: 0 auto 100px auto;
}


#registration-form h1 {
    text-align: center;
    line-height: 40px;
    font-size: 40px;
    opacity: 0.87;
    color: #000000;
}

#registration-form form {
    width: 380px;
    margin: 50px auto;
}

.inputs-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    #registration-form {
        width: 904px;
        margin: 0 auto 100px auto;
    }
}

@media screen and (min-width: 361px) and (max-width: 768px) {
    #registration-form {
        width: 704px;
        margin: 0 auto 100px auto;
    }
}

@media screen and (max-width: 360px) {
    #registration-form {
        width: 328px;
        margin: 0 auto 100px auto;
    }

    #registration-form form {
        width: 328px;
    }
}

