header {
    background: #FFFFFF;
    max-width: 100%;
    width: 100%;
    height: 60px;
}

.content-header {
    max-width: 1170px;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 104px;
    height: 26px;
    display: flex;
    gap: 1.97px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.icon_logo {
    width: 38.11px;
    height: 26px;
}

.name_logo {
    width: 63.91px;
    height: 10.52px;
}

.buttons {
    display: flex;
    gap: 10px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    header {
        max-width: 1024px;
    }
    
    .content-header {
        max-width: 904px;
    }
}

@media screen and (min-width: 361px) and (max-width: 768px) {

    header {
        max-width: 768px;
    }

    .content-header {
        max-width: 704px;
    }
}

@media screen and (max-width: 360px) {

    header {
        max-width: 360px;
    }

    .content-header {
        max-width: 328px;
    }
}

