.card {
    max-width: 370px;
    height: 254px;
    border-radius: 10px;
    background: #FFFFFF;
    padding: 20px;
}

.card img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: auto;
}

.card p {
    line-height: 26px;
    font-size: 16px;
    color: #000000;
    opacity: 0.87;
    white-space: nowrap;
    max-width: 330px;
    width: auto;
    overflow: hidden;
    text-overflow: ellipsis;
}

.email-block {
    position: relative;
    height: 26px;
    max-width: 330px;
    width: auto;
}

.email-block p {
    display: inline-block;
    cursor: pointer;
}

.name-block {
    margin: 20px 0;
    position: relative;
    height: 26px;
    max-width: 330px;
    width: auto;
}

.name-block .name {
    display: inline-block;
    cursor: pointer;
}

.tooltip-text {
    background-color: #000000;
    color: #FFFFFF;
    white-space: nowrap;
    line-height: 26px;
    font-size: 16px;
    border-radius: 4px;
    padding: 3px 16px;
    border-radius: 4px;
    position: absolute;
    top: 47px;
    left: 165px;
    z-index: 3;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .card {
        max-width: 282px;
    }

    .card p {
        max-width: 242px;
    }

    .tooltip-text {
        left: 0;
    }
}

@media screen and (min-width: 361px) and (max-width: 768px) {
    .card {
        max-width: 344px;
    }

    .card p {
        max-width: 304px;
    }

    .tooltip-text {
        left: 0;
    }
}

@media screen and (max-width: 360px) {
    .card {
        max-width: 328px;
    }

    .card p {
        max-width: 288px;
    }
    .tooltip-text {
        left: 0;
    }
}

