.general-info {
    position: relative;
    margin: auto;
    max-width: 1170px;
    width: 100%;
    height: 650px;
    background-image: url('../../../image/Rectangle\ 29.svg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-general-info {
    width: 380px;
    background: none;
    background-color: transparent;
    position: relative;
    z-index: 2;
    text-align: center;
}

.content-general-info h1 {
    line-height: 40px;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
}

.content-general-info p {
    line-height: 26px;
    font-size: 16px;
    color: #FFFFFF;
    margin: 21px 0 32px 0;
    text-align: center;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .general-info {
        max-width: 100%;
    }
}

@media screen and (min-width: 361px) and (max-width: 768px) {
    .general-info {
        max-width: 100%;
        height: 500px;
    }
}

@media screen and (max-width: 360px) {
    .general-info {
        max-width: 100%;
        height: 500px;
    }

    .content-general-info {
        width: 328px;
    }
}